section.result-bg {
    margin-top: 1em;
    padding: 1em 0 2em 0;
    position: relative;
}
.result h3 {
    font-size: 40px;
    color: #fff;
    font-weight: 800;
}
.result p {
    font-size: 18px;
    color: #fff;
}
.slide-redult {
    width: 75%;
    margin: 0 auto;
}